@font-face {
  font-family: MontSeratLight; /* Имя шрифта */
  src: url(../fonts/montserrat/Montserrat-Light.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: MontSeratRegular; /* Имя шрифта */
  src: url(../fonts/montserrat/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
}

body {
  margin: 0;
  font-family: MontSeratLight, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "header";
@import "second";
@import "third";
